body{
    background: url(../2021-09-17-17-18-52-800\ -\ Copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #211951;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    
}